.span {
    padding: 10px;
    margin-bottom: 10px;
    width: 290px;

    display: inline-block;

    border: 2px solid rgb(70, 240, 92);
    border-radius: 7px;
    color: white;
    text-align: left;
}

.span:hover {
    padding: 10px;

    width: 290px;

    display: inline-block;

    border: 2px solid rgb(70, 240, 92);
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #00ff00,0 0 90px #00ff00;

}