.superInput {
    padding: 6px 0 4px 10px;

    height: 30px;
    width: 300px;

    font-size: 13px;
    color: white;

    border: 2px solid #00ff00;
    background: black;
    border-radius: 8px;
}

.errorInput {
    padding: 6px 0 4px 10px;

    height: 30px;
    width: 300px;

    font-size: 13px;

    border: 2px solid #FF50E5;
    background: black;
    border-radius: 8px;
}

.error {
    color: #FF50E5;
    font-weight: bold;
}