@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.select {
    border: 2px solid #00FF00;
    background-color: black;
    border-radius: 7px;
    color: white;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    padding-left: 10px;
}