@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.radio {
    padding: 10px;
    margin-top: 10px;

    height: 120px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: white;
    text-transform: uppercase;

    border: 2px solid #00FF00;
    border-radius: 7px;
}

.item {
    display: flex;
    align-content: center;
}

input[type="radio"] {
    position: absolute;

    opacity: 0;
}

input[type="radio"] + label {
    position: relative;

    cursor: pointer;
    line-height: 30px;
}


input[type="radio"] + label {
    padding: 0 0 0 35px;
}

input[type="radio"] + label:before {
    content: '';

    position: absolute;

    top: 2px;
    left: 0;

    width: 20px;
    height: 20px;

    border: 2px solid #00FF00;
    background: black;
}

input[type="radio"] + label:after {
    content: '';

    position: absolute;

    top: 9px;
    left: 12px;

    width: 0;
    height: 0;

    background: #00FF00;
    opacity: 0;
    transition: .2s;
}

input[type="radio"]:checked + label:after {
    opacity: 1;

    top: 8px;
    left: 6px;

    width: 12px;
    height: 12px;
}

